.fa-stack {
  position: relative;
  font-size: xx-large;
  bottom: 25px;
  cursor: pointer;
}

.fa-stack :nth-child(2) {
  color: transparent;
  /*transition: all 800ms;*/
  padding: 0px;
}

.fa-stack :nth-child(2):hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fill-tank;
          animation-name: fill-tank;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  font-size: small;
  /*transform: scale(3);*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@-webkit-keyframes fill-tank {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes fill-tank {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
