@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
.footer {
  background-color: #353535;
  color: white;
  padding: 5vw;
}

.footer_h5 {
  font-family: shrikhand, cursive;
  font-size: larger;
  margin-top: 0px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
}

body {
  background-color: #555;
  font-family: Roboto, sans-serif;
  margin: 0px;
  margin: 0 auto;
  max-width: 1280px;
}

.background {
  background-color: #f6f6f6;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 5px lightgrey;
          box-shadow: 0px 5px 5px lightgrey;
  margin-top: 5px;
}

.header img {
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.header h1 {
  margin-top: 5px;
}

.fa-arrow-left {
  position: relative;
  top: 20px;
  right: 50px;
  font-size: x-large;
}

.restaurant img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__nom {
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  padding: 5px 5vw;
  background-color: #f6f6f6;
  font-family: shrikhand, cursive;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
