@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
.footer {
  background-color: #353535;
  color: white;
  padding: 5vw;
}

.footer_h5 {
  font-family: shrikhand, cursive;
  font-size: larger;
  margin-top: 0px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:visited {
  color: white;
}

.fa-stack {
  position: relative;
  font-size: xx-large;
  bottom: 25px;
  cursor: pointer;
}

.fa-stack :nth-child(2) {
  color: transparent;
  /*transition: all 800ms;*/
  padding: 0px;
}

.fa-stack :nth-child(2):hover {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fill-tank;
          animation-name: fill-tank;
  background: -webkit-gradient(linear, right top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to bottom left, #9356DC, #FF79DA);
  font-size: small;
  /*transform: scale(3);*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

@-webkit-keyframes fill-tank {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes fill-tank {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

header,
main,
footer {
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#spinner__animation {
  width: 100px;
  height: 100px;
  border: 20px solid #9a9b9b;
  border-radius: 50%;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top: 20px solid #9356DC;
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top: 20px solid #FF79DA;
    opacity: 0.9;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top: 20px solid #9356DC;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-top: 20px solid #9356DC;
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-top: 20px solid #FF79DA;
    opacity: 0.9;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-top: 20px solid #9356DC;
    opacity: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  background: #555;
}

.background {
  background: #f8f8f8;
}

a {
  width: 100%;
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 5px 5px lightgrey;
          box-shadow: 0px 5px 5px lightgrey;
  margin-top: 5px;
}

.header img {
  padding-bottom: 0px;
  margin-bottom: 15px;
}

.header h1 {
  margin-top: 5px;
}

.localisation {
  padding: 5 0vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f6f6;
}

.section_presentation {
  overflow: hidden;
  padding: 0 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f6f6));
  background: linear-gradient(white, #f7f6f6);
}

.section_presentation h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section_presentation_h3 {
  font-weight: lighter;
}

.btn {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  -webkit-box-shadow: 4px 4px 2px lightgrey;
          box-shadow: 4px 4px 2px lightgrey;
  width: 60vw;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.btn:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
  -webkit-box-shadow: 8px 8px 2px #adadad;
          box-shadow: 8px 8px 2px #adadad;
}

.section_fonctionnement {
  padding: 0 5vw 5vw 5vw;
}

.section_fonctionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f6f6f6dd;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 4px 4px 2px lightgrey;
          box-shadow: 4px 4px 2px lightgrey;
  border-radius: 15px 15px;
  text-align: center;
  height: 4rem;
  line-height: 2rem;
  white-space: nowrap;
}

.section_fonctionnement__btn__ordre {
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 28px;
  padding: 2px 10px;
}

.section_fonctionnement__btn__ordre p {
  position: relative;
  bottom: 17px;
}

.fa-store {
  color: #9356DC;
}

.section_restaurant {
  padding: 0px 5vw;
  background-color: #f8f8f8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_restaurant__titre {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.card {
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px lightgrey;
          box-shadow: 2px 2px 2px lightgrey;
  border-radius: 20px 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin: 3vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 90vw;
  background-color: white;
  -webkit-box-shadow: 2.5px 2.5px 2.5px lightgrey;
          box-shadow: 2.5px 2.5px 2.5px lightgrey;
  border-radius: 20px 20px;
  height: fit-content;
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 210px;
  width: 100%;
  border-top-left-radius: 15px 15px;
  border-top-right-radius: 15px 15px;
}

.card__img {
  position: relative;
}

.card__img__nouveau {
  font-weight: bolder;
  z-index: 1;
  background-color: #99E2D0;
  width: 80px;
  display: block;
  color: #008766;
  top: 1em;
  right: 1em;
  text-align: center;
  position: absolute;
  height: 3em;
  line-height: 0.7em;
  white-space: nowrap;
}

.card__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.card__legende__texte {
  padding: 0 1rem;
  border-bottom-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.card__legende__texte p {
  font-weight: lighter;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

.card__legende__texte h4 {
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
}

.card__legende__icon {
  padding: 0px;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .section_restaurant__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card {
    max-width: 450px;
    margin: 2rem;
    margin-bottom: 4rem;
  }
  .card__img {
    max-width: 450px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
