@import "base/variables.scss";
@import "base/footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
@import "base/heart.scss";

* {
    box-sizing: border-box;
  }


body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    background: #555;
  }

.background {
    background: $bckg;
}
  a {
    color: black;
    text-decoration: none;
    &:visited {
      color: black;
    }
  }

//header 

.header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px $shadow;
    margin-top: 5px;
    & img {
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    & h1 {
        margin-top: 5px;
    }

}

.localisation {
    padding: 5 0vw;
    display: flex;
    justify-content: center;
    background-color: #f7f6f6;
}

.section_presentation {
    overflow: hidden;
    padding: 0 $main_margin;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    background: linear-gradient(white,#f7f6f6 );
    & h2 {
        align-self: center;
    }
    &_h3 {
        font-weight: lighter;
    }
    
}


.btn {
    background: linear-gradient(170deg, $secondary, $primary);
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    margin-bottom: 7vw;
    box-shadow: 4px 4px 2px $shadow;
    width: 60vw;
    transition: 250ms;
    &:hover {
      background: linear-gradient(
        170deg,
        rgba(255, 121, 218, 0.8) 0%,
        rgba(214, 108, 219, 0.8) 39%,
        rgba(171, 94, 220, 0.8) 85%,
        rgba(155, 89, 220, 0.8) 100%
      );
      box-shadow: 8px 8px 2px $darkshadow;
    }
  }

.section_fonctionnement {
   padding: 0 $main_margin 5vw $main_margin;

    &__btn {
        display: flex;
        flex-direction: row;
        background-color: #f6f6f6dd;
        margin: 1rem;
        padding: 1rem;
        box-shadow: 4px 4px 2px $shadow;
        border-radius: 15px 15px;
        text-align: center;
        height: 4rem;
        line-height: 2rem;
        white-space: nowrap;

    &__ordre {
        border-radius: 50%;
        background-color: $primary;
        color: white;
        position: relative;
        right: 28px;
        padding: 2px 10px;

    & p {
        position: relative;
        bottom: 17px;
        }
        
        }
    }
}

.fa-store {
    color: $primary;
}


.section_restaurant {
    padding: 0px $main_margin;
    background-color: $bckg;
    align-items: center;
    &__titre {
        align-self: start;
    }
}

.card {
        background-color: white;
        box-shadow: 2px 2px 2px $shadow;
        border-radius: 20px 20px;
        height: fit-content;
        flex: 100%;
        margin: 3vw 0px;
        display: flex;
        overflow: hidden;
        width: 90vw;

    & img {
        object-fit: cover;
        height: 150px;
        width: 90vw;
        border-top-left-radius: 15px 15px;
        border-top-right-radius: 15px 15px;
    }

    &__img {
        position: relative;
        &__nouveau {
            font-weight: bolder;
            z-index: 1;
            background-color: $tertiary;
            width: 80px;
            display: block;
            color: #008766;
            top: 1em;
            right: 1em;
            text-align: center;
            position: absolute;
            height: 3em;
            line-height: 0.7em;
            white-space: nowrap;      
        }
    }
    &__legende {
        display: flex;
        justify-content: space-between;
        height: 60px;

        &__texte {
            padding: 0 1rem;
            border-bottom-right-radius: 15px 15px;
            border-bottom-right-radius: 15px 15px;

            & p {
                font-weight: lighter;
                margin-top: 0.3rem;
                margin-bottom: 0.5rem;
            }
            
            & h4 {
                margin-top: 0.6rem;
                margin-bottom: 0.2rem;
            }            
        }
        &__icon {
            padding: 0px;
            position: relative;
        }
    } 
}

@media screen and (min-width: 1280px) {
    .section_restaurant__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        max-width: 450px;
        margin: 2rem;
        margin-bottom: 4rem;
        &__img {
            max-width: 450px;
        }
    }
}
  
